<div class="container ">
    <div class="auth-header">
        <h3>Sign up</h3>
    </div>
    {{#if errors}}
        <div class="offset-sm-3 col-sm-7">
            <div class="alert alert-danger" role="alert">
                <ul>
                    {{#each errors}}
                        <li>{{msg}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
    <form class="form-horizontal" method="POST">
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="email">Email</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="email" id="email" placeholder="Email" autofocus=""
                       required="" value="{{email}}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="email">Password</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="password" id="password" placeholder="Password" autofocus=""
                       required="">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 control-label" for="email">Confirm Password</label>
            <div class="col-sm-7">
                <input class="form-control" type="text" name="confirm_password" id="confirm_password" placeholder="Confirm Password" autofocus=""
                       required="">
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-7">
                <button class="col-sm-3 btn btn-primary" type="submit">
                    <i class="fa fa-user"></i> Sign up
                </button>
                <a class="btn btn-link" href="/signin">Sign in</a>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-7">
                <hr>
            </div>
        </div>
        <div class="form-group row">
            <div class="offset-sm-3 col-sm-7">
                <a class="btn btn-block btn-facebook btn-social" href="/auth/facebook">
                    <i class="fa fa-facebook"></i>  Sign in with Facebook
                </a>
                <a class="btn btn-block btn-google btn-social" href="/auth/google">
                    <i class="fa fa-google-plus"></i>  Sign in with Google
                </a>
            </div>
        </div>
    </form>
</div>