<div class="container landing-content">
    <h2 class="text-center color-mint margin-top-30">Automate your social media activity</h2>
    <h3 class="text-center">Get targeted likes comments and follows for instagram and twitter</follows></h3>
    <div class="text-center">
        <img class="soc-icon" src="./img/instagram.svg">
        <img class="soc-icon" src="./img/twitter.svg">
    </div>
    <div class="text-center">
        <img class="demo-img" src="img/travisci.png"/>
    </div>
    <h2 class="text-center color-success margin-top-40">Features</h2>
    <div class="row">
        <div class="col-md-4 feature-block text-center">
            <i class="fa fa-wrench"></i>
            <h4>Automate everything</h4>
            <p>You can set up automation for liking, following, commenting based on hastags, locations, followers, likers, commenters
                and more</p>
        </div>
        <div class="col-md-4 feature-block text-center">
            <i class="fa fa-thumbs-up"></i>
            <h4>3 days free trial</h4>
            <p>Try socialfroce free for 3 days and you will see how it works</p>
        </div>
        <div class="col-md-4 feature-block text-center">
            <i class="fa fa-refresh"></i>
            <h4>Run and forget</h4>
            <p>All automation works on our servers, don't need to download any desktop applications, configure your accouns, click run and feel free to log out</p>
        </div>
    </div>
    <h2 class="text-center color-mint margin-top-40">Pricing</h2>
    <div class="row color-white flexbox flex-space-around-middle p-y-2 m-b-2_5 price-cards">

        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-header font-size-lg-plus bg-success">
                    <i class="fa fa-clock-o float-left"></i> 5 days
                </div>
                <div class="p-y-2_5 card-block color-base">
                    <div class="card-title font-size-3xl strong">
                        $ 1.50
                    </div>
                    <div class="card-text">
                        30 cents per day
                    </div>
                </div>
                <div class="card-footer cursor-pointer bg-success">
                    Buy package
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-header font-size-lg-plus bg-mint">
                    <i class="fa fa-clock-o float-left"></i> 10 days
                </div>
                <div class="p-y-2_5 card-block color-base">
                    <div class="card-title font-size-3xl strong">
                        $ 2.50
                    </div>
                    <div class="card-text">
                        25 cents per day
                    </div>
                </div>
                <div class="card-footer cursor-pointer bg-mint">
                    Buy package
                </div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="card">
                <div class="card-header font-size-lg-plus bg-base">
                    <i class="fa fa-clock-o float-left"></i> 30 days
                </div>
                <div class="p-y-2_5 card-block color-base">
                    <div class="card-title font-size-3xl strong">
                        $ 6.00
                    </div>
                    <div class="card-text">
                        20 cents per day
                    </div>
                </div>
                <div class="card-footer cursor-pointer bg-base">
                    Buy package
                </div>
            </div>
        </div>

    </div>
</div>